@use "../mixin.scss" as *;

@mixin before-style($image) {
  content: "";
  background-image: $image;
  width: var(--product-size);
  height: var(--product-size);
  position: absolute;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.product-box {
  div {
    &.AB::before {
      @include before-style(url(../IMG/SHOP/CLOSEUP/CU-A.png));
    }
    &.BB::before {
      @include before-style(url(../IMG/SHOP/CLOSEUP/CU-B.png));
    }
    &.DB::before {
      @include before-style(url(../IMG/SHOP/CLOSEUP/CU-D.png));
    }
    &.EB::before {
      @include before-style(url(../IMG/SHOP/CLOSEUP/CU-E.png));
    }
    &.FB::before {
      @include before-style(url(../IMG/SHOP/CLOSEUP/CU-F.png));
    }
    &.HB::before {
      @include before-style(url(../IMG/SHOP/CLOSEUP/CU-H.png));
    }
    &.TB::before {
      @include before-style(url(../IMG/SHOP/CLOSEUP/CU-T.png));
    }
    &.UB::before {
      @include before-style(url(../IMG/SHOP/CLOSEUP/CU-U.png));
    }
    &.VB::before {
      @include before-style(url(../IMG/SHOP/CLOSEUP/CU-V.png));
    }
  }
}

// ADDED TO CART
.added-background.active {
  background-image: radial-gradient(circle, #fff 30%, transparent 120%);
  width: 100vw;
  height: 100vh;
  z-index: 5;
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  transition: all 0.5s;
}
.added-bag-box {
  display: none;
}
.added-bag-box.active {
  display: block;
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  transition: all 0.5s;
  .added-bag {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 1rem;
    .added-img {
      position: fixed;
      transition: 0.2s;
      width: 8rem;
      filter: drop-shadow(0.15rem 0 #000) drop-shadow(-0.15rem 0 #000);
    }
  }
}
.check.active {
  position: absolute;
  transform: translate(5.5rem, -6rem);
  display: inline-block;
  width: 4rem;
  height: 4rem;
  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 0.5rem;
    background-color: #000;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
  }
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.5rem;
    width: 100%;
    background-color: #000;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
  }
}
