@use "../mixin.scss" as *;

:root {
  --scroll-color: #fff;
  --body-bck-color: #000;
  --navmenu-top: 2.5rem;
  --menu-link-color: #fff;
  --hambmenu-color: #fff;
  --side-menu-bck-color: #000;
  --button-bcg-color: #fff;
  --button-color: #000;
  --navbar-border-color: #fff;
  --footer-color: #fff;
  --shopbag-color: #fff;
  --submit-form-fill: translate(-0.1rem, 4.7rem);
}
main * {
  @include animation-fade-in();
}
// COMMON
.cart-title,
.cart-game-title {
  text-align: center;
  @include font-details(#fff, "bc-medium", 2rem, uppercase);
}
.cart-subtitle,
.cart-game-subtitle {
  @include font-details(#fff, "bc-medium", 1.7rem, uppercase);
  text-align: center;
}
// SHOP BAG
.shop-cart {
  width: 5rem;
  height: auto;
}
main {
  margin-block: 1rem;
  @include center-box();
  gap: 0.5rem;
}
.empty-cart {
  @include center-box();
  gap: 1rem;
  .content-button {
    width: 13rem;
    text-align: center;
  }
}
// GAME
a.divider-cart {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  line-height: 65%;
}
.game-box {
  @include center-box();
  gap: 0.5rem;
  width: 19rem;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  @media (min-width: 550px) {
    width: 30rem;
  }
}
.blend-game {
  @include center-box();
  gap: 1rem;
}
.game-select {
  @include font-details(#fff, "bc-regular", 1.5rem, uppercase);
  text-align: center;
}
select#blend-game {
  overflow: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.3rem;
  background: url(/src/ICON/AD.png) 98% / 7% no-repeat #fff;
  border: 0.2rem solid #000;
  outline: 0.2rem solid #fff;
  width: 18rem;
  text-align: center;
  @include font-details(#000, "bc-medium", 1.2rem, none);
  &:focus,
  &:focus-within {
    background: url(/src/ICON/AU.png) 98% / 7% no-repeat #fff;
  }
}
.result-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  div {
    display: none;
    &.active {
      display: grid;
      gap: 0.3rem;
      justify-items: center;
      height: 25rem;
      align-content: space-evenly;
      .game-outcome {
        @include center-box();
        gap: 0.2rem;
        @include font-details(#fff, "bc-regular", 1.5rem, none);
        .blend-title {
          text-transform: uppercase;
          box-shadow: inset 0rem -0.7rem 0rem -0.6rem #fff;
        }
        p {
          text-align: center;
        }
      }
    }
  }
}
.game-result {
  width: 17rem;
  height: 17rem;
}
