@use "../mixin.scss" as *;

@mixin before-style($color, $description) {
  content: $description;
  background-color: $color;
  text-align: center;
  font-family: "bc-regular", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  width: calc(var(--product-size) - 2rem);
  height: calc(var(--product-size) - 3.5rem);
  position: absolute;
  padding-block: 2.5rem 1rem;
  padding-inline: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.product-box {
  div {
    &.AB::before {
      @include before-style(
        #144637,
        "Antigua Coffee Blend are grown in the Antigua district at high altitudes in rich volcanic soil. These Guatemalan coffee beans are distinguishable by its heavy body, lively cup and subtle smoky spicy overtones. Experience the intensity of this fantastic coffee."
      );
    }
    &.BB::before {
      @include before-style(
        #cf9700,
        "Brazil Coffee Blend is a slightly acidic Arabica with a medium texture. Grown in the open air, under the region's generous sunshine, the coffee has a pleasant, light body and a unique aroma with notes of cocoa, nuts and honey."
      );
    }
    &.DB::before {
      @include before-style(
        #ab9c8a,
        "Decaf Coffee Blend lets you enjoy the delicious taste of caramel coffee without worrying about caffeine. This medium roast blend features a sweet and buttery taste with pecan notes, a caramel flavor, and a smooth finish for a cup of coffee you can enjoy any time of day or night. "
      );
    }
    &.EB::before {
      @include before-style(
        #a73a1d,
        "Ethiopia Coffee Blend are carefully grown in a clearly defined geographical area, carefully picked, processed and roasted in small batches according to origin and processing method. Expect a sensational taste of berries, caramel and figs."
      );
    }
    &.FB::before {
      @include before-style(
        #70280e,
        "French Coffee Blend has a dense body, an elegant, syrupy texture and a sweetness that activates the taste buds from intense to more elegant notes. In addition, the value in the cup is created by the complex, multi-layered acidity, but we find it perfectly integrated into the profile of the coffee. "
      );
    }
    &.HB::before {
      @include before-style(
        #986b2f,
        "House Coffee Blend is a well balanced and medium bodied coffee. With notes of amaretto and red currants, this clean and smooth formula will give you the unmatched, extra giddy up to keep moving throughout the day and well into the evening."
      );
    }
    &.TB::before {
      @include before-style(
        #116d68,
        "Treat Coffee Blend is described by sweetness and complexity. The notes are sweet - reminiscent of hibiscus, caramel and raspberry. It's a medium to full-bodied coffee with a texture that saturates the taste buds. The acidity is medium-ridiculous and brings complexity to the cup."
      );
    }
    &.UB::before {
      @include before-style(
        #ca6b11,
        "Uganda Coffee Blend is smooth, with a pleasant cocoa note and a low to medium body. The notes are intense - reminiscent of rum, raisins and chocolate. It's a full-bodied, rounded coffee with a fine texture and medium-ridiculous acidity - citric and acetic."
      );
    }
    &.VB::before {
      @include before-style(
        #957527,
        "Vanilla Coffee Blend is a flavored coffee with a creamy, rich caramel taste and a warm and buttery toffee accent. The mellow candied aroma, balanced body and acidity of this 100% Arabica coffee makes for a full and satisfying cup."
      );
    }
  }
}
