* {
  margin: 0;
  padding: 0;
}
.hero {
  height: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.logo {
  max-width: 7rem;
  margin-block: 0rem;
  margin-inline-start: 0.5rem;
}

li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
}

.navbar {
  min-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.49);
  backdrop-filter: blur(8px);
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  transition: 1s ease;
}
.nav-link:hover {
  color: #3f71e0;
}
.nav-link-special {
  background-color: #3f71e0;
  padding: 0.7rem;
}

.title {
  color: white;
  margin-block: 5rem 1rem;
  margin-inline-start: 1rem;
  font-size: 1.7rem;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
}
.subtitle {
  color: white;
  margin-inline-start: 1rem;
  font-style: italic;
}
.btns {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.btn.reserve {
  background-color: #3f71e0;
  padding: 1rem 1rem;
}
.btn.reserve:hover {
  transform: translate3d(0px, -6px, 0.01px);
  background-color: #224eab;
  transition: transform 0.5s ease;
}
.btn.see-more {
  border: 0.2rem solid white;
  padding: 1rem 1rem;
}
.btn.see-more:hover {
  transform: translate3d(0px, -6px, 0.01px);
  color: black;
  background-color: white;
  transition: transform 0.5s ease;
}
.margin {
  padding-block-end: 11rem;
}
.packages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.pckg {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.241);
  align-items: center;
}
.pckg-img {
  width: 90%;
  margin-block: 2rem 4rem;
  align-items: center;
}
.pckg-img img {
  display: block;
  width: 100%;
  height: auto;
}
.align {
  display: grid;
  place-items: center;
}

.packages .pckg:hover {
  transform: translateY(-1rem);
}
.packages .pckg:hover .box .content h2 {
  color: #224eab;
}
.packages .pckg:hover .box .content h4 {
  background-color: #224eab;
  color: white;
}
.title.black {
  color: black;
  margin-block: 0 1rem;
  text-align: center;
}
.textil {
  margin-block: 2rem 4rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  font-family: "Kanit", sans-serif;
  letter-spacing: 0.5rem;
}
.included li {
  list-style: inside;
  font-size: 1.1rem;
}
.price {
  font-size: 2rem;
  margin-block: 1rem 2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.088);
  color: #224eab;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin-inline: 4rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.179);
}
#invert {
  background-color: black;
  color: white;
}
.packages #invert .box .content h2 {
  color: white;
}
.packages #invert:hover .box .content h2 {
  color: #224eab;
}
.packages #invert .box .content h4 {
  background-color: #224eab;
  color: white;
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.179);
}
.title.black.optional {
  margin-block-start: 3rem;
  text-align: center;
  margin-block-end: 0;
  color: rgba(82, 112, 135, 0.553);
}
.optional.included {
  text-align: center;
}
.show-hide,
.show-hide2 {
  align-items: center;
}
.text-inline {
  display: block;
}
.foo,
.foo2 {
  display: none;
}
.show-hide,
.show-hide2 {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-block: 0;
}
.foo.see-more,
.foo2.see-more {
  display: inline;
}
footer {
  background-image: url("../pictures/background-color.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer img {
  margin-block: 0.75rem 0.1rem;
  height: 2.5rem;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .bar {
    background-color: white;
    display: block;
    width: 2rem;
    height: 0.1rem;
    margin: 0.6rem auto;
    transition: all 0.3s ease-in-out;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.7rem) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.7rem) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    inset-inline-start: -100%;
    inset-block-start: 5.6rem;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    inset-inline-start: 0;
  }
  .nav-link-special {
    padding: 0.5rem 3rem;
    margin-block-end: 1rem;
  }
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
    cursor: pointer;
  }

  .logo {
    max-width: 12rem;
  }

  .nav-menu {
    color: white;
  }
  .nav-item {
    font-size: 1.3rem;
  }
  .text {
    margin-inline-start: 5rem;
  }
  .divider {
    margin-block-start: 8rem;
  }
  .title {
    font-size: 4rem;
    text-align: center;
  }
  .subtitle {
    width: 40%;
  }
  .btns {
    flex-direction: row;
    margin-block-start: 3rem;
  }
  .packages {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
  }
  .pckg {
    width: 23rem;
  }
  .down {
    margin-block-start: 3rem;
    margin-block-end: -3rem;
  }

  .pckg-img {
    width: 18rem;

    margin-block-end: 1rem;
  }
  .title.black {
    font-size: 2.5rem;
    margin-block: 1rem 1.5rem;
  }
  .included li {
    font-size: 1.2rem;
    margin-block-end: 0.5rem;
    margin-inline-start: 1rem;
  }
  .price {
    margin-block: 3rem 2rem;
    margin-inline: 6rem;
  }
  .space {
    padding-block-end: 8rem;
  }
}
@media (min-width: 1080px) {
  .navbar {
    padding-inline: 7rem 12rem;
  }
}
