:root {
  --product-size: 18rem;
}
@mixin center-box {
  display: grid;
  justify-items: center;
}
@mixin font-details($color, $family, $size, $transform) {
  color: $color;
  font-family: $family, sans-serif;
  font-size: $size;
  text-transform: $transform;
}

@mixin animation-title {
  background: linear-gradient(90deg, #000, #000, #fff, #fff, #fff, #fff, #000);
  background-repeat: no-repeat;
  background-size: 85%;
  animation: animation-title 3s linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  @keyframes animation-title {
    0% {
      background-position: -700%;
    }
    100% {
      background-position: 700%;
    }
  }
}

@mixin animation-fade-in {
  animation: animation-fade-in 1s linear;
  @keyframes animation-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
