@use "./mixin.scss" as *;

:root {
  --scroll-color: #000;
  --body-bck-color: #fff;
  --navmenu-top: 2.45rem;
  --menu-link-color: #000;
  --hambmenu-color: #000;
  --side-menu-bck-color: #fff;
  --button-bcg-color: #000;
  --button-color: #fff;
  --navbar-border-color: #000;
  --footer-color: #000;
  --shopbag-color: #000;
}
// CONTENT
main,
.shop-box,
.product-box {
  display: grid;
  justify-items: center;
  gap: 1rem;
}
main {
  padding: 1rem;
}
.product-box {
  .AB,
  .BB,
  .DB,
  .EB,
  .FB,
  .HB,
  .TB,
  .UB,
  .VB {
    @include center-box();
    &:hover::before,
    &:focus::before,
    &:focus-within::before {
      opacity: 1;
    }
  }
}
.shop-title-box {
  @include center-box();
}
.shop-title {
  @include font-details(#000, "bc-medium", 2rem, uppercase);
}
// SIDE MENU
.shop-divider {
  font-size: 2.5rem;
  line-height: 30%;
  text-decoration: none;
}
.side-logo {
  width: 5rem;
}
.shop-img {
  width: var(--product-size);
}
.side-menu-box {
  .side-menu {
    gap: 0.5rem;
    display: grid;
    justify-items: center;
    align-items: center;
    .side-link:hover {
      box-shadow: inset 0rem -0.7rem 0rem -0.6rem var(--footer-color);
    }
    li,
    a {
      @include font-details(#000, "bc-medium", 1.3rem, uppercase);
      text-decoration: none;
      list-style: none;
      transition: box-shadow 0.2s ease-in;
    }
  }
}
// PRODUCTS
.product-box {
  div {
    .flavour {
      @include font-details(#000, "bc-regular", 1.2rem, lowercase);
    }
    .b-name {
      @include font-details(#000, "bc-medium", 1.5rem, uppercase);
    }
    .price {
      @include font-details(#000, "bc-regular", 1.5rem, uppercase);
    }
  }
}
// CART BUTTON
.bag {
  width: 1.3rem;
  position: absolute;
  inset-inline-start: 5rem;
  opacity: 0;
  transition: 0.2s;
  filter: drop-shadow(0rem 0 #000);
}
.cart-button.content-button {
  font-family: "bc-regular", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus,
  &:focus-within {
    justify-content: flex-start;
    .bag {
      inset-inline-start: 6.5rem;
      opacity: 1;
    }
  }
}

@media (min-width: 600px) {
  main {
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
  }
  .side-menu-box {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .shop-title-box {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .shop-box {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .product-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .shop-title {
    font-size: 2.5rem;
  }
  .product-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .side-menu {
    grid-template-columns: repeat(6, 1fr);
    li:nth-child(1) {
      grid-column: 1/7;
    }
  }
}
@media (min-width: 1200px) {
  :root {
    --product-size: 21rem;
  }
}
